<mat-toolbar color="primary" [class.mat-elevation-z6]="true">
  <a mat-button routerLink="/home">
    <mat-icon>fingerprint</mat-icon>
    Auth Demo
  </a>
  <span class="tb-spacer"></span>
  <ng-template [ngIf]="!isAuthenticated() && getUrl() != '/home'">
    <a mat-button routerLink="/signin">Sign In</a>
    <a mat-button routerLink="/signup">Register</a>
  </ng-template>
  <ng-template [ngIf]="isAuthenticated() && getUrl() != '/home'">
    <button (click)="logOut" >Signout</button>
  </ng-template>

</mat-toolbar>
