.signup-block {
  margin: auto;
  width: 50%;
  padding-top: 30px;
}

.example-card {
  margin: auto;
  max-width: 350px;
  min-width: 180px;
}

.example-full-width {
  display: block;
  margin: 0px 12px 10px 12px;
}

.success-msg {
  display: block;
  margin: 0px 12px 10px 12px;
  font-size: 75%;
}

.submit-block {
  display: block;
  margin: 20px 12px 10px 12px;
}

.card-header-block {
  display: block;
  height: 25px;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.progress-block {
  display: block;
  margin: auto;
  width: 100px;
  padding-top: 20px;
}

.sign-up-fail {
  color: red;
  height: 35px;
  margin: 0px 12px 0px 12px;
  padding: 0px;
  font-size: 75%;
}
