
.signup-block {
  margin: auto;
  width: 50%;
  padding-top: 40px;
}

.example-card {
  width: 400px;
}

.example-form {
  min-width: 120px;
  max-width: 200px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.example-container > * {
  width: 100%;
}

.submit-block {
  margin-left: 20px;
  margin-bottom: 20px;
}

.sign-link {
  text-align: right;
  float: right;
}
