
.signin-block {
  margin: auto;
  width: 50%;
  padding-top: 30px;
}

.example-card {
  margin: auto;
  max-width: 350px;
  min-width: 150px;
}

.example-full-width {
  display: block;
  margin: 10px 12px 10px 12px;
}

.submit-block {
  display: block;
  margin: 20px 12px 12px 12px;
}

.card-header-block {
  display: block;
  margin: 5px 12px 5px 12px;
}

.custom-button {
  max-width: 200px;
}
