<div class="signin-block">
  <mat-card class="example-card" [class.mat-elevation-z2]="true" *ngIf="!toggleProgress">
    <mat-card-content>
      <div class="card-header-block" >
        <h4>Sign In</h4>
      </div>
      <!-- email -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Email"
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcherEmail"
          [(ngModel)]="userEmail"
          required>
        <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
          Not a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field class="example-full-width">
        <input
            matInput
            placeholder="Password"
            [formControl]="passwordFormControl"
            [errorStateMatcher]="matcherPassword"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="userPassword"
            required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="submit-block" >
        <button
            mat-raised-button
            [disabled]="submitDisabled"
            color="primary"
            (click)="onSignIn()" >
            Submit</button>
      </div>

    </mat-card-content>
  </mat-card>
  <div class="progress-block" *ngIf="toggleProgress">
    <mat-progress-spinner
        color="primary"
        mode="indeterminate" >
    </mat-progress-spinner>
  </div>
</div>


